@import "tailwindcss";

@keyframes scale-pulse {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(2.5);
    }
  }
  
  .animate-scale-pulse {
    animation: scale-pulse 8s ease-in-out infinite;
  }
  